@{
    ViewBag.Title = "Acceuil";
}

<script>
    function supprimerLivre(isbn) {
        console.log("isbn à delete:" + isbn);
        $.post("/Home/SupprimerLivreAction", { isbn: isbn });
        location.reload();
    }
</script>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home/Index">Livres</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/AjouterLivre">Ajouter un livre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active pull-right"><a href="/Members/LogoutAction">Déconnexion</a></li>
        </ul>
    </div>
</nav>

<div class="table table-hover">
    <label style="font-size: 300%">Liste De Livres</label>

    <table class="table">
        <tr>
            <th>
                <label>ISBN</label>
            </th>
            <th>
                <label>Auteur</label>
            </th>
            <th>
                <label>Titre</label>
            </th>
            <th>
                <label>Nombre de Pages</label>
            </th>
            <th>
                <label>Edition</label>
            </th>
            <th>
                <label>Année</label>
            </th>
            <th>
                <label>Langue</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Mots-Clés</label>
            </th>
            <th></th> <!-- Empty Table Head for the buttons-->
        </tr>
        @foreach (var livre in ViewBag.listeLivre) {
            <tr>
                <td>
                    @livre.isbn
                </td>
                <td>
                    @livre.author
                </td>
                <td>
                    @livre.title
                </td>
                <td>
                    @livre.nbPages
                </td>
                <td>
                    @livre.edition
                </td>
                <td>
                    @livre.year
                </td>
                <td>
                    @livre.language
                </td>
                <td>
                    @livre.description
                </td>
                <td>
                    @livre.keywords
                </td>
                <td>
                    <a class="text-success clickable" data-toggle="modal" data-target="#modifierLivreModal"
                            data-isbn="@livre.isbn"
                            data-author="@livre.author"
                            data-title="@livre.title"
                            data-nb-pages="@livre.nbPages"
                            data-edition="@livre.edition"
                            data-year="@livre.year"
                            data-language="@livre.language"
                            data-description="@livre.description"
                            data-keywords="@livre.keywords"
                            ><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="text-danger clickable" onclick="supprimerLivre('@livre.isbn')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </table>
</div>
